<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form class="form-horizontal well formborder">
        <fieldset>

          <legend>Non Compliant Form</legend>

          <div class="form-group form-group-sm">
            <label for="textinput" class="control-label col-sm-3">Audit Id</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [value]="auditInfo?.auditId" placeholder="Audit Id" readonly disabled>

            </div>
          </div>

          <div class="form-group form-group-sm">
            <label for="projectName" class="control-label col-sm-3">Project Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [value]="auditInfo?.name" placeholder="Project Name" readonly disabled>

            </div>
          </div>

          <div class="form-group form-group-sm">
            <label for="raisedBy" class="control-label col-sm-3">Raised By</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [value]="auditInfo?.auditor" placeholder="Raised By" readonly disabled>

            </div>
          </div>

          <div class="form-group form-group-sm">
            <label for="textinput" class="control-label col-sm-3">Expected close date</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" [value]="auditInfo?.expectedCloseDt" placeholder="" readonly disabled>

            </div>
          </div>

          <div class="form-group form-group-sm">
            <label for="assignedto" class="control-label col-sm-3">Assigned to</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [value]="auditInfo?.auditee" placeholder="Assigned to" required disabled>

            </div>
          </div>

          <div class="form-group form-group-sm">
            <label for="textinput" class="control-label col-sm-3">Status</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [value]="auditInfo?.status" placeholder="" readonly disabled>

            </div>
          </div>

          <div class="form-group form-group-sm">
            <label for="textinput" class="control-label col-sm-3">Remark</label>
            <div class="col-sm-9">
               <textarea class="form-control" [value]="auditInfo?.remark" name="textarea" rows="3" readonly disabled></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="textarea">Resolution</label>
            <div class="col-sm-9">
              <textarea class="form-control" name="textarea" rows="3"></textarea>
            </div>
          </div>


          <div class="form-group form-group-sm">
            <label for="resDate" class="control-label col-sm-3">Resolution Date</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" id="resDate" placeholder required>
            </div>
          </div>

          <hr>

          <div class="form-group form-group-sm">
            <div class="col-sm-12">
              <button type="Submit" class="btn btn-success pull-right">Submit</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>
